@if (profile(); as profile) {
  <app-avatar-circle class="size32" [avatarUrl]="profile.avatarUrl"></app-avatar-circle>
}

@if (me(); as profile) {
  <app-avatar-circle class="size32" [avatarUrl]="profile.avatarUrl"></app-avatar-circle>
}

<textarea class="hidden-textarea" placeholder="Напишите что-нибудь"
          (input)="onTextAreaInput($event)" [(ngModel)]="text"
></textarea>

<div class="emojis-btn">
  <svg icon="emojis" class="svg16"></svg>
</div>

<button class="btn btn-icon" (click)="onCreated()">
  <svg icon="send" class="svg16"></svg>
</button>

<button class="btn btn-save" (click)="onSaved()">
  Сохранить
</button>

<button class="btn btn-cancel btn-transparent" (click)="onCanceled()">
  Отмена
</button>
