:host {
  padding: 16px;
  display: grid;
  grid-template-columns: 32px 1fr 40px 44px;
  grid-gap: 12px;
  align-items: flex-start;
  background-color: var(--dark-color);
  border: 1px solid var(--light-color);

  &.comment {
    border-style: dashed;
    border-radius: 2px;
  }

  &.editable {
    background-color: var(--dark-hover-color);
    border: none;
    grid-template-columns: 1fr 40px 118px 92px;

    .size32, .btn-icon {
      display: none;
    }

    .btn-save, .btn-cancel {
      display: block;
    }

    .hidden-textarea {
      background-color: var(--dark-hover-color);
    }
  }
}

.hidden-textarea {
  padding: 8px 0;
  height: 44px;
  color: var(--light-color);
  background-color: var(--dark-color);
  resize: none;
  border: none;
  border-bottom: 1px solid transparent;

  &:hover,
  &:focus-visible {
    border-bottom: 1px solid var(--primary-color);
    outline: none;
  }
}

.emojis-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-save, .btn-cancel {
  display: none;
}
