:host {
  display: grid;
  grid-template-columns: 32px 1fr;
  grid-gap: 12px;

  &.is-mine {
    grid-template-columns: max-content 32px;
    justify-content: end;

    .message-container {
      order: -1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .message-text {
        color: var(--dark-color);
        background-color: var(--primary-color);

        &:before {
          right: 0;
          left: auto;
          border-style: solid;
          border-width: 0 10px 10px 0;
          border-color: transparent var(--dark-color) transparent transparent;
          transform: rotate(0deg);
        }
      }
    }
  }
}

.message-container {
  display: grid;
  gap: 8px;
}

.message-text {
  position: relative;
  padding: 8px 16px;
  max-width: max-content;
  width: 600px;
  font-weight: 500;
  font-size: 14px;
  word-wrap: break-word;
  color: var(--light-color);
  background-color: var(--message-bg-color);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 0;
    border-color: var(--dark-color) transparent transparent transparent;
    transform: rotate(0deg);
  }
}
