:host {
  position: relative;
  display: block;
  padding: 20px 12px;
  background-color: var(--dark-color);
}

.main-menu-list {
  display: grid;
  grid-gap: 8px;
  list-style: none;
}

.menu-item {
  padding: 16px 12px;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 16px 1fr max-content;
  grid-gap: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: var(--light-color);
  text-align: left;
  cursor: pointer;
  border-radius: 2px;

  &:hover,
  &:focus-visible,
  &.active {
    background: var(--dark-hover-color);
    color: var(--primary-color);

    .menu-item svg {
      color: var(--primary-color);
    }
  }
}

.menu-item svg {
  width: 16px;
  height: 16px;
}

.to-subscribers {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--primary-color);
}

.to-subscribers-link {
  color: var(--primary-color);
}

.to-subscribers-icon {
  width: 16px;
  height: 16px;
  color: var(--primary-color);
}

.sidebar-footer {
  position: absolute;
  width: calc(100% - 30px);
  bottom: 20px;
  padding: 4px 16px;
  display: grid;
  grid-template-columns: 32px 1fr 16px;
  grid-gap: 12px;
  align-items: center;
  background: var(--dark-hover-color);
  color: var(--primary-color);
  border-radius: 2px;
}

.footer-sidebar-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.settings-btn {
  display: flex;
  align-items: center;
}

.settings-btn svg {
  width: 16px;
  height: 16px;
  color: var(--primary-color);
}
