:host {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 232px;
}

.login-form {
  max-width: 100%;
  width: 440px;
}

.password-input {
  display: block;
  position: relative;
}

.password-eye-btn {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #FFFFFFBF;
  cursor: pointer;
}

.password-eye-btn.active {
  color: var(--primary-color);
}
